/* Your existing CSS code */

/* Add this media query for screens smaller than 991px */
@media (max-width: 991px) {
    header,
    section,
    footer {
      padding-left: 3%;
      padding-right: 3%;
    }
    .home,
    .portfolio-box {
      flex-direction: column-reverse;
    }
    .about,
    .contactSkills {
      flex-direction: column;
    }
    .about .about-img .aboutHero {
      width: 100%;
    }
    .proposal img {
      width: 52vw;
    }
    .portfolio-img img {
      width: 100%;
      height: 100%;
    }
    .portfolio-gallery {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .img-hero {
      margin-top: 3rem;
    }
  }
  
  /* Add this media query for screens smaller than 768px */
  @media (max-width: 768px) {
    .proposal {
      display: none;
    }
    .menu-icon .bar,
    .menu-icon::after,
    .menu-icon::before {
      display: block;
    }
    ul.navlist {
      position: absolute;
      top: -1000px;
      transition: all 0.3s ease;
      width: 100%;
      text-align: center;
      display: block;
      background: var(--gradient-white-bg);
      left: 0;
      border-top: 2px solid rgba(248, 202, 202, 0.7);
    }
    ul.navlist a {
      font-size: 1.5rem;
      margin: 1rem 0;
    }
    .navlist.active {
      top: 100%;
    }
    .overlay {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      position: fixed;
      background: rgba(0, 0, 0, 0.5);
      z-index: 8;
      opacity: 0;
      transform: 0.3s;
      pointer-events: none;
    }
    body.open .overlay {
      opacity: 1;
      pointer-events: auto;
    }
    .btn {
      padding: 10px;
    }
    .home {
      grid-gap: 0;
    }
    .fillter-buttons button {
      padding: 10px;
      font-size: 0.8rem;
    }
  }
  
  /* Add this media query for screens smaller than 530px */
  @media (max-width: 530px) {
    html {
      font-size: 80%;
    }
    section {
      padding: 50px 3%;
    }
    .contact-info form .input-box {
      display: block;
    }
    .input-box input {
      width: 100%;
    }
    .rotate-text {
      display: none;
    }
    .img-hero img {
      width: 100%;
    }
    .text-animate {
      width: 23.8rem;
    }
    .btn-box {
      width: 266px;
      margin-bottom: 3rem;
    }
    .about-btn button {
      padding: 10px 15px;
    }
    .fillter-buttons {
      display: grid;
      grid-gap: 1rem;
    }
    .fillter-buttons button {
      width: 100%;
      padding: 13px;
    }
  }
  